body {
    background-color: #fff;
    transition: background-color 0.5s, color 0.5s;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
}

/* Slider container */
.slider-container {
    width: 100px;
    height: 50px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.5s;
}
.modalHeader, .modalBody, .modalFooter {
    background-color: #333 !important;
    color: #fff;
}
/* Slider button */
.slider-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: transform 0.5s;
}
.navbar-toggler{
    background-color: #ccc;
}

/* Dark mode styles for slider */
.slider-container.dark-mode {
    background-color: #555;
}

/* Slider button styles for dark mode */
.slider-container.dark-mode .slider-button {
    background-color: #000;
    transform: translateX(50px);
}
.heading{
    color: #000;
}
.heading.dark-mode{
    color: #fff;
}
.footing{
    background-color: #333;
}
.footing.dark-mode{
    background-color: #6d6d6d;
}
.text-white > li > a:hover,
.text-white > li > a:focus {
    background-color: #555;
    font-size: 105%;
    font-weight: bold;
    text-shadow: none;
}
.overlay-dark{
    background: rgb(0, 187, 255);
    background: linear-gradient(127deg, rgba(2,0,36,1) 0%, rgba(34,34,51,1) 41%, rgba(0,185,255,1) 100%);
}
.overlay-dark::before{
    background:  rgba(0,185,255,1);
}
.card-content-dark{
    background: rgba(red, green, blue, alpha);
}