/* Set the font family and background color */
body {
    font-family: Arial, sans-serif;
  }
  
  /* Style the navigation bar */
  .offcanvas {
    border-radius: 0;
  }
  
  /* .navbar-brand {
    color: #fff;
  }
   */
  /* .navbar-nav > li > a {
    color: #fff;
  }
   */
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    background-color: #555;
    font-size: 105%;
    text-shadow: 2px 2px 4px #fff;
}
  /* Style the main content area */
  /* h1 {
    font-size: 36px;
    margin-top: 0;
  } */
  
  /* p {
    font-size: 18px;
  }
   */
  /* Style the sidebar */
  /* h3 {
    font-size: 24px;
    margin-top: 0;
  } */
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  /* ul li a {
    color: #555;
  } */
  
  /* ul li a:hover,
  ul li a:focus {
    color: #838383;
  }
   */
  /* Style the footer */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }
/* .nav-item{
  color:rgb(155, 155, 50);
 } */