@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body {
    font-family: Arial, sans-serif;
  }

  .offcanvas {
    border-radius: 0;
  }
  
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    background-color: #555;
    font-size: 105%;
    text-shadow: 2px 2px 4px #fff;
}

  ul {
    list-style: none;
    padding-left: 0;
  }

.footing {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: absolute;
    left: 10%;
    right: 10%;
    min-height: 10vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    text-align: center;
    /* padding: 20px; */
    /* margin-top: 50px */
  }

.wrapper{
  min-height: 90vh;
 }

.active{
  text-decoration: underline ;
}

.wrapper2 .icon{
  position: relative;
  vertical-align: middle;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 2em;
  margin-top: 1em ;
 
  width: 2em;
  height: 2em;
  line-height: 2em;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.wrapper2 .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper2 .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper2 .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper2 .icon:hover span,
.wrapper2 .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper2 .facebook:hover,
.wrapper2 .facebook:hover .tooltip,
.wrapper2 .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper2 .twitter:hover,
.wrapper2 .twitter:hover .tooltip,
.wrapper2 .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper2 .instagram:hover,
.wrapper2 .instagram:hover .tooltip,
.wrapper2 .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.wrapper2 .github:hover,
.wrapper2 .github:hover .tooltip,
.wrapper2 .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper2 .youtube:hover,
.wrapper2 .youtube:hover .tooltip,
.wrapper2 .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}
d-c
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
  height: 25rem;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.card-content{
  transition: background-image 1.5s ease-in-out;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(204,204,204);
  background: linear-gradient(139deg, rgba(204,204,204,1) 0%, rgba(0,212,255,1) 100%);
  border-radius: 25px 25px 0 25px;
  transition: background-image 1.5s ease-in-out;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #00d4ff;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;

}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 10px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button a{
  text-decoration: none;
  color: #FFF;
}
.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #555;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #fff;
  background-color: #333;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

#fake-captcha {
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Questrial";
  font-size: 4vw;
  transform: scale(0.5);
  line-height: 4.25vw;
  white-space: nowrap;
  cursor: pointer;
  color: #444;
}

#fake-captcha:hover {
  color: #666;
}

#fake-checkbox {
  position: relative;
  float: left;
  margin-right: 1vw;
  width: 4vw;
  height: 4vw;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: all 0.2s;
  box-sizing: border-box;
}

#fake-checkbox:hover {
  border-color: #aaa;
  background: #eee;
}

#fake-captcha.loading {
  cursor: default;
  color: #444;
}

.loading #fake-checkbox {
  border-radius: 50%;
  background: transparent;
  border-color: #888;
  border-width: 12px;
  border-style: inset;
  animation: spin 1s infinite linear;
}

.pass #fake-checkbox {
  background: #c1d9a3;
  border-color: #669f56;
}

.pass #fake-checkbox:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "\2713";
  font-size: 6vw;
  color: #275f18;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fail {
  animation: fail 0.1s 4;
}

@keyframes fail {
  0% { transform: translate(-50%, -50%); }
  25% { transform: translate(-51%, -50%); }
  50% { transform: translate(-50%, -50%); }
  75% { transform: translate(-49%, -50%); }
  100% { transform: translate(-50%, -50%); }
}
.containerBottom{
  bottom: 0;
}